@import 'header';
@import 'nav';
@import 'footer';

html, body{
    margin: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
}

article{
    margin: 25px;
}

#body {
    width: 80%;
    margin: auto;
    min-height: 80vh;
}
