#nav{
    text-align: center;
}

#nav ul{
    list-style: none;
}

#nav ul li{
    display: inline;
}

#nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0px 5px;
}

#nav a:hover &submenu{
    color: red;
    display: block;
}

.submenu{
    display: none;
}